{% extends('layout/base.twig') %}

{% block content %}

    <div class="row">

        {{ form_start(form) }}
            <div class="column small-12">
                <h3>Modell hinzufügen</h3>
            </div>
            <div class="column small-4 text-center">
                {{ form_widget(form.model, {'attr': {'class': 'inputfile', 'accept' : '.stl'} }) }}
                <label for="model_model"><i class="fa fa-cloud-upload fa-2x"></i><br><span>1. Upload Model</span></label>
            </div>
            <div class="column small-4 text-center">
                <input type="file" class="inputfile" id="model_image">
                <label for="model_image"><i class="fa fa-cloud-upload fa-2x"></i><br><span>3. Upload Image</span></label>
            </div>
            <div class="column small-4 text-center">
                <input type="submit" value="4. Add Model" class="inputfile--submit">
            </div>
        {{ form_end(form) }}
        <div class="column small-12">
            <h3>Modelle</h3>
            <table>
                <tr>
                    <th>Modelname</th>
                    <th>Attributes</th>
                    <th></th>
                </tr>
                {% for i, model in models %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>
                            <ul>
                                {% for attribute in model %}
                                    <li><b>{{ attribute.name }}:</b> {{ attribute.min ? attribute.min }} - {{ attribute.max ? attribute.max }} // {{ attribute.initial }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="/admin/{{ shop }}/{{ i }}/edit"><i class="fa fa-pencil fa-2x" ></i></a>
                            <i class="fa fa-trash-o fa-2x" data-delete="{{ i }}" data-url="delete/{{ shop }}/{{ i }}"></i>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}