{% extends('layout/base.twig') %}

{% block classes %}fullheight{% endblock %}

{% block content %}
        <script>
            const model = '{{ model }}';
            var params = {
                height: 0.5,
                width: 0.5,
                depth: 0.5,
                color: '#222222',
                positionY: -0.25,
                text: 'Test'
            };
        </script>
        <div class="columns medium-7 no-padding">
            <div id="renderer">
                <i class="fa fa-expand fa-2x"></i>
            </div>
            {#Breite: <span id="sizeX"></span>cm<br>#}
            {#Höhe: <span id="sizeY"></span>cm<br>#}
            {#Tiefe: <span id="sizeZ"></span>cm<br>#}
        </div>
        <div class="columns medium-5 modelling sidebar">
            <div class="sidebar--head">
                <h1>{{ model }}</h1>
                <hr>
                <div class="modelling--subtitle">Preis</div>
                <div class="price-tag">100</div>
            </div>

            <ul class="accordion settings" data-accordion>

                <!-- ... -->

            {% for i, group in groups %}
                <li class="accordion-item {% if i == 0 %}is-active{% endif %}" data-accordion-item>
                    <a class="accordion-title"><span class="step">{{ i + 1 }}</span> {{ group.collection }}</a>
                    <div class="accordion-content" data-tab-content>
                        {% for attr in modelAttr if attr.collection == group.collection %}
                            {% if attr.collection == 'Größe' %}
                                <div class="size">
                            {% endif %}
                                {% if attr.type == 'integer' %}
                                    <label class="modelling--subtitle" for="{{ attr.name }}">{{ attr.name }}</label>
                                    <input type="number" id="{{ attr.name }}" min="{{ attr.min }}" max="{{ attr.max }}" value="{{ attr.initial }}">
                                {% elseif attr.type == 'text' %}
                                    <label class="modelling--subtitle" for="{{ attr.name }}">{{ attr.name }}</label>
                                    <input type="text" id="{{ attr.name }}" value="{{ attr.initial }}">
                                {% endif %}
                            {% if attr.collection == 'Größe' %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>

            <button id="save" class="button">Save</button>
        </div>


{% endblock %}